/*
1. Posicionamiento : display, position.
2. Modelo de Caja (Box Model) : widht, padding, etc.
3. Tipografía : fonts.
4. Visuales : border-radius, shadows-box, ect.
5. Otros
*/
:root {
    /* Colores*/
    --bg-gradient: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-grey: #757575;
    --off-white: #faf8f7;
    --just-white: #fff;
    --new-bg: #1a1b26;
    /* Fonts*/
    --lg: 2.4rem;
    --md: 1.8rem;
    --sm: 1.4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--bg-gradient);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: var(--lg);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);   
}
.header--title-container p {
    margin-top: 25px;
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 115px);
    bottom: 0;
    transform: translateY(50%);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /*Sombra*/
    box-shadow: 0 4px 8px rgba(98, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: var(--sm);
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button svg {
    display: inline-block;
    width: 10px;
    margin-left: 5px;
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--new-bg);
}
/* exchange*/
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("https://i.postimg.cc/NjTyW7yM/Bitcoin-img-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-container--title h2 {
    margin-bottom: 30px;
    font-size: var(--lg);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-container--title p {
    margin-bottom: 30px;
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--off-grey);
}

/*Tablas*/
.main-tables-container {
    display: flex;
    justify-content: start;
    gap: 24px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    height: auto;
    max-width: 450px;
    padding: 12px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.table-content {
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    gap: 8px;
    
}

.table-content h3{
    font-size: var(--md);
    font-weight: bold;
    padding-left: 12px;
    align-self: start;
    color: var(--bitcoin-orange);
}
.table-content:nth-child(2) h3{
    font-size: var(--md);
    font-weight: bold;
    padding-left: 12px;
    align-self: start;
    color: var(--secundary-blue);
}
.table-content:nth-child(2) .tables-money-container .tables-row-container .items:last-child{
    justify-content: center;
}
.tables-money-container {
    width: 100%;
    border-radius: 8px;
    background: var(--new-black);
}
.tables-row-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 40px;
    padding: 8px;
    border: 1px solid var(--new-bg);
}
.items p{
    padding-left: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #B5B0AC;
}
.items:last-child p{
    padding-left: 4px;
    font-size: var(--sm);
    font-weight: 300;
    color: var(--off-grey);
}
svg.trending {
    width: 18px;
    height: 16px;
}

span.trending.up {
    background-image: url(/assets/icons/trending-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.table-date {
    width: 90%;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--warm-black);
    border-radius: 8px;
}
.table-date.blue {
    background: var(--secundary-blue);
}
.table-date.orange {
    background: var(--bitcoin-orange);
}

/* Product Section*/
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 12px;
    background: var(--black);

}

.product-detail__batata-logo {
   position: absolute;
   top: -12px;
   left: calc(50% - 20px);
   width: 40px;
   height: 24px;
}

.product-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
}
.product-detail__title h2{
    margin-bottom: 20px;
    font-size: var(--lg);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    
}
.product-detail__title p{
    margin-bottom: 20px;
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080; 
}
.product-cards__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 900px;
    margin: 0 auto;
}
.product-detail__card {
   width: 90%;
   min-width: 288px;
   max-width: 400px;
   height: 150px;
   padding: 16px;
   background-color: var(--warm-black);
   border-radius: 8px; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail__card .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product__card-title {
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product__card-body {
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 60vh;
    text-align: center;
}
.bitcoin-img-container h2 {
    position: relative;
    z-index: 10;
    padding-top: 60px;
    font-size: var(--lg);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

}
.bitcoin-img-container picture {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60vh;
}
.bitcoin-img-container picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Section plans*/
.plans-container--slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-snap-align: center;
    overflow-y: hidden;
    height: 316px;
    width: 100%;
    max-width: 770px;
    margin: 0 auto; 
    padding: 0 20px;
    
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding: 70px 0;
    text-align: center;
}

.plans-containers--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: calc(0.7 * 280px);
    max-width: 300px;
    height: 250px;
    margin: 30px auto 0;
    padding: 0 15px;
    background-color: var(--new-black);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
}
.plan-tag  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -16px;
    left: calc(50% - 60px);
    width: 120px;
    height: 32px;
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
}
.salvavidas {
    background: #c90909;
}
.recomendado {
    background: var(--bitcoin-orange);
}
.economia {
    background: #0c701d;
}
.plan-card--title {
   padding-top: 30px;
   font-size: var(--sm);
   font-weight: 500;
   line-height: 1.8rem;
   color: var(--just-white); 
}
.plan-card--price {
    padding: 4px 0;
    font-size: 5.2rem;
    line-height: 5.3rem;
    font-weight: bold;
    color: var(--off-white);
}
.plan-card--price span {
    vertical-align: text-top;
    font-size: 1.2rem;
    font-weight: 300;
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    margin: 20px auto 0;
    background-color: var(--new-bg);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: var(--sm);
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--off-white);
    cursor: pointer;   
}
/* Plan salvavida*/
.salvavidas-cta {
    border: 2px solid #c90909;
}
.salvavidas-cta path {
    stroke: #c90909;
}
/* Plan recomendados*/
.recomendado-cta {
    border: 2px solid var(--bitcoin-orange);
}
.recomendado-cta path {
    stroke: var(--bitcoin-orange);
}
/* Plan economico*/
.economia-cta {
    border: 2px solid #0c701d;
}
.economia-cta path {
    stroke: #0c701d;
}

footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer .left ul {
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.right img {
    width: 64px;
    height: 50px;
}
